* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  height: 100px;
  line-height: 100px;
  padding: 0 50px;
  border-radius: 6px;
  transition: all 300ms ease;
  background-color: #efefef;
}